# Application
APP_NAME=POS Backend
APP_ENV=development

# Web Server
PORT=3001

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pos_db
DB_SSLMODE=disable

# JWT
JWT_SECRET=Pui326r7Fl2aKIsl1J08D8G6XyHfaInU8JQnXE9dxaJdMCIDQls0iMPV9OD2ZIKEvmvRhHhRBvRW3JI4p9KbiA==
JWT_EXPIRATION=24

# Log
LOG_LEVEL=debug
LOG_FORMAT=json